In [3]:
import pandas as pd
import numpy as np
from functools import reduce

In [61]:
df = pd.read_csv('./raw_data/master.csv')

/Users/santerivaataja/Desktop/Taloustieteen_kursseja/Econometrics/Capstone.nosync/cap_venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [78]:
list(zip(df.columns, [df.loc[:,i].isna().sum() for i in df.columns]))

[('country', 0),
 ('year', 0),
 ('PR', 5),
 ('CL', 5),
 ('Status', 5),
 ('DD regime', 128),
 ('DD category', 123),
 ('Monarchy', 128),
 ('Commonwealth', 128),
 ('Democracy', 128),
 ('Presidential', 128),
 ('President name', 784),
 ('President accesion', 814),
 ('President birthyear', 814),
 ('Interim phase (more than 2 Presidents/year=1)', 829),
 ('Female president (0: No; 1: Yes)', 829),
 ('Colony', 138),
 ('Communist', 128),
 ('Regime change lag', 128),
 ('spatial democracy', 128),
 ('countrycode', 123),
 ('No. of chambers in parliament', 171),
 ('proportional voting', 217),
 ('Election system', 197),
 ('No. of members in lower house', 209),
 ('No. of members in upper house', 1693),
 ('New constitution', 128),
 ('fullsuffrage', 128),
 ('electoral', 128),
 ('spatial electoral', 128),
 ('alternation', 123),
 ('multiparty', 123),
 ('free and fair election', 123),
 ('parliamentary election year', 127),
 ('postponed election', 128),
 ('gdp', 370)]

In [63]:
df = df[df.year >= 2006]

In [64]:
m_col = [df.loc[:,i].isna().mean() > .85 for i in df.columns]
df = df.drop(np.array(df.columns)[m_col], axis=1)

In [65]:
m_row = [df.loc[i].isna().mean() > .85 for i in df.index]
df = df.drop(np.array(df.index)[m_row], axis=0)

In [67]:
df

,country,year,PR,CL,Status,DD regime,DD category,Monarchy,Commonwealth,Democracy,...,fullsuffrage,electoral,spatial electoral,alternation,multiparty,free and fair election,parliamentary election year,"election month, year",postponed election,gdp
33,afghanistan,2006,5,5,PF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,1.0,2.0,"1,5",0.0,1.0,0.0,1.0,September 2005,0.0,263.733692
34,afghanistan,2007,5,5,PF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,1.0,2.0,"1,5",0.0,1.0,0.0,0.0,NaN,0.0,359.693238
35,afghanistan,2008,5,6,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,1.0,2.0,"1,75",0.0,1.0,0.0,0.0,NaN,0.0,364.660745
36,afghanistan,2009,6,6,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,1.0,2.0,"1,75",0.0,1.0,0.0,0.0,NaN,0.0,438.076034
37,afghanistan,2010,6,6,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,1.0,2.0,"1,75",0.0,1.0,0.0,0.0,NaN,0.0,543.303042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,zimbabwe,2016,5.0,5.0,PF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,1.0,2.0,"2,5",0.0,1.0,0.0,0.0,NaN,0.0,1464.583529
9836,zimbabwe,2017,6.0,5.0,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,1.0,2.0,"2,5",0.0,1.0,0.0,0.0,NaN,0.0,1548.170056
9837,zimbabwe,2018,5.0,5.0,PF,4.0,Military dictatorship,0.0,0.0,0.0,...,1.0,2.0,"2,5",0.0,1.0,0.0,0.0,NaN,0.0,1683.740577
9838,zimbabwe,2019,5.0,5.0,PF,4.0,Military dictatorship,0.0,0.0,0.0,...,1.0,2.0,"2,5",0.0,1.0,0.0,1.0,July 2018,0.0,1463.985910
9839,zimbabwe,2020,6.0,5.0,NF,4.0,Military dictatorship,0.0,0.0,0.0,...,1.0,2.0,"2,5",0.0,1.0,0.0,0.0,NaN,0.0,NaN

In [68]:
df.year.value_counts()

2010    188
2012    188
2014    188
2016    188
2018    188
2009    188
2011    188
2013    188
2015    188
2017    188
2006    187
2008    187
2007    187
2019    187
2020    179
Name: year, dtype: int64

In [69]:
df.country.value_counts()

italy                             15
hungary                           15
madagascar                        15
guyana                            15
guinea-bissau                     15
                                  ..
cote d'ivoire                     14
cabo verde                        14
st. vincent and the grenadines    14
san marino                        13
kosovo                            11
Name: country, Length: 188, dtype: int64

In [80]:
df.to_csv('raw_data/small_master.csv')

In [70]:
df.dtypes

country                                           object
year                                               int64
PR                                                object
CL                                                object
Status                                            object
DD regime                                        float64
DD category                                       object
Monarchy                                         float64
Commonwealth                                     float64
Democracy                                        float64
Presidential                                     float64
President name                                    object
President accesion                               float64
President birthyear                              float64
Interim phase (more than 2 Presidents/year=1)    float64
Female president (0: No; 1: Yes)                 float64
Colony                                           float64
Communist                                        float64
Regime change lag                                float64
spatial democracy                                 object
countrycode                                      float64
No. of chambers in parliament                    float64
proportional voting                              float64
Election system                                   object
No. of members in lower house                    float64
No. of members in upper house                    float64
New constitution                                 float64
fullsuffrage                                     float64
electoral                                        float64
spatial electoral                                 object
alternation                                      float64
multiparty                                       float64
free and fair election                           float64
parliamentary election year                      float64
election month, year                              object
postponed election                               float64
gdp                                              float64
dtype: object

In [71]:
rep_map = {
    '2(5)': np.nan,
    'nan': np.nan,
    '3(6)': np.nan
}

In [72]:
df = df.replace(rep_map)

In [73]:
df.PR = df.PR.astype(float)
df.CL = df.CL.astype(float)

In [74]:
df.loc[:, 'spatial electoral'] = df.loc[:, 'spatial electoral'].str.replace(',', '.').astype('float')

In [118]:
df.dtypes.map(list(df.dtypes) == np.dtype('int') | list(df.dtypes) == np.dtype('float'))

True

In [75]:
df = df.drop(['election month, year'], axis=1)

In [3]:
df = pd.read_csv('./raw_data/small_master.csv')

In [77]:
df.shape

(2807, 36)

In [10]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [81]:
df.groupby(['year']).gdp.count()

year
2006    173
2007    173
2008    174
2009    175
2010    176
2011    176
2012    175
2013    175
2014    175
2015    175
2016    174
2017    174
2018    174
2019    168
2020      0
Name: gdp, dtype: int64

In [21]:
df[df.year == 2018]

,country,year,PR,CL,Status,DD regime,DD category,Monarchy,Commonwealth,Democracy,...,New constitution,fullsuffrage,electoral,spatial electoral,alternation,multiparty,free and fair election,parliamentary election year,postponed election,gdp
12,afghanistan,2018,5.0,6.0,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,0.0,1.0,2.0,2.000000,0.0,1.0,0.0,0.0,0.0,NaN
27,albania,2018,3.0,3.0,PF,0.0,Parliamentary democracy,0.0,0.0,1.0,...,0.0,1.0,3.0,2.800000,1.0,1.0,1.0,0.0,0.0,NaN
42,algeria,2018,6.0,5.0,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,0.0,1.0,2.0,2.500000,0.0,1.0,0.0,0.0,0.0,NaN
57,angola,2018,6.0,5.0,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,0.0,1.0,2.0,2.250000,0.0,1.0,1.0,1.0,0.0,NaN
72,antigua and barbuda,2018,2.0,2.0,F,0.0,Parliamentary democracy,1.0,1.0,1.0,...,0.0,1.0,3.0,3.000000,1.0,1.0,1.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,venezuela,2018,7.0,6.0,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,0.0,1.0,1.0,3.000000,0.0,0.0,0.0,0.0,0.0,NaN
2718,vietnam,2018,7.0,5.0,NF,3.0,Civilian dictatorship,0.0,0.0,0.0,...,0.0,1.0,1.0,1.000000,0.0,0.0,0.0,0.0,0.0,NaN
2733,yemen,2018,7.0,6.0,NF,4.0,Military dictatorship,0.0,0.0,0.0,...,0.0,1.0,0.0,1.333333,0.0,0.0,0.0,0.0,0.0,NaN
2748,zambia,2018,4.0,4.0,PF,2.0,Presidential democracy,0.0,1.0,1.0,...,0.0,1.0,3.0,2.285714,1.0,1.0,1.0,0.0,0.0,NaN
2763,zimbabwe,2018,5.0,5.0,PF,4.0,Military dictatorship,0.0,0.0,0.0,...,0.0,1.0,2.0,2.500000,0.0,1.0,0.0,0.0,0.0,NaN

In [79]:
df.loc[:, ['year', 'country']][df.gdp.isna()]

      year              country
47    2020          afghanistan
95    2020              albania
143   2020              algeria
239   2020               angola
287   2020  antigua and barbuda
...    ...                  ...
9597  2018                yemen
9598  2019                yemen
9599  2020                yemen
9791  2020               zambia
9839  2020             zimbabwe

[370 rows x 2 columns]