In [1]:
import pandas as pd
import numpy as np

In [3]:
freedom_house13_21 = pd.read_csv('./raw_data/All_data_FIW_2013-2021.csv', sep=';', skiprows=1)

In [5]:
freedom_house13_21.head()

,Country/Territory,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
0,Abkhazia,Eurasia,t,2021,PF,5,5,2,2,1,...,1,1,4,1,1,2,1,5,23,40
1,Afghanistan,Asia,c,2021,NF,5,6,1,1,1,...,0,1,2,0,1,0,1,2,14,27
2,Albania,Europe,c,2021,PF,3,3,3,3,2,...,2,3,9,3,2,2,2,9,39,66
3,Algeria,MENA,c,2021,NF,6,5,1,1,1,...,2,2,6,2,2,2,1,7,22,32
4,Andorra,Europe,c,2021,F,1,1,4,4,4,...,4,3,15,4,4,3,4,15,55,93

In [8]:
freedom_house73_21_ctr = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021.csv', sep=';')

In [11]:
freedom_house73_21_ctr.head()

,Survey Edition,Jan.-Feb. 1973,Unnamed: 2,Unnamed: 3,Jan.-Feb. 1974,Unnamed: 5,Unnamed: 6,Jan.-Feb. 1975,Unnamed: 8,Unnamed: 9,...,Unnamed: 135,2019,Unnamed: 137,Unnamed: 138,2020,Unnamed: 140,Unnamed: 141,2021,Unnamed: 143,Unnamed: 144
0,Year(s) Under Review,1972,NaN,NaN,1973,NaN,NaN,1974,NaN,NaN,...,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN
1,NaN,PR,CL,Status,PR,CL,Status,PR,CL,Status,...,Status,PR,CL,Status,PR,CL,Status,PR,CL,Status
2,Afghanistan,4,5,PF,7,6,NF,7,6,NF,...,NF,5,6,NF,5,6,NF,5,6,NF
3,Albania,7,7,NF,7,7,NF,7,7,NF,...,PF,3,3,PF,3,3,PF,3,3,PF
4,Algeria,6,6,NF,6,6,NF,6,6,NF,...,NF,6,5,NF,6,5,NF,6,5,NF

In [12]:
freedom_house73_21_trs = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021_trs.csv', sep=';')

In [13]:
freedom_house73_21_trs.head()

,Survey Edition,Jan.-Feb. 1973,Unnamed: 2,Unnamed: 3,Jan.-Feb. 1974,Unnamed: 5,Unnamed: 6,Jan.-Feb. 1975,Unnamed: 8,Unnamed: 9,...,Unnamed: 135,2019,Unnamed: 137,Unnamed: 138,2020,Unnamed: 140,Unnamed: 141,2021,Unnamed: 143,Unnamed: 144
0,Year(s) Under Review,1972,NaN,NaN,1973,NaN,NaN,1974,NaN,NaN,...,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN
1,NaN,PR,CL,Status,PR,CL,Status,PR,CL,Status,...,Status,PR,CL,Status,PR,CL,Status,PR,CL,Status
2,Abkhazia,-,-,-,-,-,-,-,-,-,...,PF,4,5,PF,5,5,PF,5,5,PF
3,Chechnya,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Crimea,-,-,-,-,-,-,-,-,-,...,NF,7,6,NF,7,6,NF,7,6,NF

In [14]:
freedom_house73_21_hd = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021_hd.csv', sep=';')

In [15]:
freedom_house73_21_hd.head()

,FIW Survey Edition*,Year(s) Under Review**,Total Countries,Number of F Countries,% of F Countries,Number of PF Countries,% of PF Countries,Number of NF Countries,% of NF Countries,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,2021,2020,195.0,82.0,"42,05 %",59.0,"30,26 %",54.0,"27,69 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,2019,195.0,83.0,"42,56 %",63.0,"32,31 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,2018,195.0,86.0,"44,10 %",59.0,"30,26 %",50.0,"25,64 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018,2017,195.0,88.0,"45,13 %",58.0,"29,74 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2017,2016,195.0,87.0,"44,62 %",59.0,"30,26 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [27]:
freedom_house_aggregate03_05 = pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_a.csv', sep=';', skiprows=1)

In [28]:
freedom_house_aggregate03_05.head()

,Abkhazia,Eurasia,t,2021,PF,5,5.1,5.2,8,4,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,Afghanistan,Asia,c,2021,NF,5,6,3,7,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,Europe,c,2021,PF,3,3,8,12,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,MENA,c,2021,NF,6,5,3,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,Europe,c,2021,F,1,1,12,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,SSA,c,2021,NF,6,5,3,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
freedom_house_aggregate06_21 = pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_b.csv', sep=';', skiprows=1)

In [30]:
freedom_house_aggregate06_21.head()

      Abkhazia  t   9 9.1 9.2  20  21 21.1  29  30 30.1
0  Afghanistan  c   8   9  13  15  14   14  23  23   27
1      Albania  c  26  26  26  42  42   40  68  68   66
2      Algeria  c  11  11  10  22  22   25  33  33   35
3      Andorra  c  39  39  39  57  58   58  96  97   97
4       Angola  c   8   7   8  22  22   22  30  29   30

In [16]:
bjorskov_integrated = pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2.csv', sep=';')

In [17]:
bjorskov_integrated.head()

,country,country isocode,year,DD regime,DD category,Unnamed: 5,Monarchy,Commonwealth,Monarch name,Monarch accession,...,spatial electoral,Unnamed: 42,alternation,multiparty,free and fair election,Unnamed: 46,parliamentary election year,"election month, year",postponed election,Unnamed: 50
0,Afghanistan,AFG,1950,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,...,"1,5",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN
1,Afghanistan,AFG,1951,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,...,"1,5",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN
2,Afghanistan,AFG,1952,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,...,"1,75",NaN,0.0,1.0,0.0,NaN,1.0,February 1952,0.0,NaN
3,Afghanistan,AFG,1953,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,...,"1,75",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN
4,Afghanistan,AFG,1954,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,...,"1,75",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN

In [18]:
bjorskov_integrated_coups = pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2_coups.csv', sep=';')

In [19]:
bjorskov_integrated_coups.head()

,country,country isocode,year,DD regime,DD category,Unnamed: 5,Failed coups,Successful coups,All coups,First coup,...,month.2,Type.2,Third coup success,Category type third coup,Coup leaders.2,Age of leaders.1,Military Rank (Nato code).2,Militaryrankindex.2,Civilrankindex.2,spatial total coups
0,Afghanistan,AFG,1950,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
1,Afghanistan,AFG,1951,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"
2,Afghanistan,AFG,1952,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
3,Afghanistan,AFG,1953,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
4,Afghanistan,AFG,1954,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"

In [20]:
bjorskov_integrated_colonial_institutions = pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2_colonial_institutions.csv', sep=';')

In [21]:
bjorskov_integrated_colonial_institutions.head()

,country,country isocode,year,DD regime,DD category,Democracy,Presidential,countrycode,No. of chambers in parliament,proportional voting,...,No. of members in upper house,No. of members in third house,New constitution,fullsuffrage,Suffrage restriction,electoral,Details,Unnamed: 19,Unnamed: 20,Self-governing
0,Afghanistan,AFG,1950,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1951,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1952,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1953,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1954,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN

In [22]:
OECD_union = pd.read_csv('./raw_data/TUD_21032021172006040.csv', sep=',')

In [23]:
OECD_union.head()

,COU,Country,SOURCE,Source,SERIES,Series,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,HUN,Hungary,ADM,Administrative data,EEM,Employees,1998,1998,NBR,Number,3,Thousands,NaN,NaN,3088.0,NaN,NaN
1,HUN,Hungary,ADM,Administrative data,EEM,Employees,2000,2000,NBR,Number,3,Thousands,NaN,NaN,3256.0,NaN,NaN
2,HUN,Hungary,ADM,Administrative data,EEM,Employees,2001,2001,NBR,Number,3,Thousands,NaN,NaN,3314.0,NaN,NaN
3,HUN,Hungary,ADM,Administrative data,EEM,Employees,2003,2003,NBR,Number,3,Thousands,NaN,NaN,3399.0,NaN,NaN
4,HUN,Hungary,ADM,Administrative data,EEM,Employees,2005,2005,NBR,Number,3,Thousands,NaN,NaN,3367.0,NaN,NaN

In [24]:
WB_civil_soc_participation = pd.read_csv('./raw_data/worldbank_civil_society_participation.csv', sep=',')

In [25]:
WB_civil_soc_participation.head()

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2006,2008,2010,2012,2014,2016,2018
0,AFG,Afghanistan,28736,Anticorruption policy,Score,1.0,1.0,1.0,1.0,1.0,3.0,2.0
1,AFG,Afghanistan,28737,Civil rights,Score,2.0,3.0,2.0,2.0,2.0,2.0,2.0
2,AFG,Afghanistan,28738,Civil society participation,Score,4.0,4.0,3.0,3.0,3.0,4.0,4.0
3,AFG,Afghanistan,28739,Civil society traditions,Score,10.0,10.0,10.0,10.0,10.0,10.0,10.0
4,AFG,Afghanistan,28740,Cleavage conflict management,Score,4.0,4.0,4.0,4.0,4.0,4.0,4.0