In [1]:
import pandas as pd
import numpy as np

In [5]:
def c_names_as_index(df, cn):
    df.index = df.loc[:, cn].apply(lambda x: x.lower())
    df.drop(cn, axis=1, inplace=True)
    return df

In [7]:
freedom_house13_21 = c_names_as_index(pd.read_csv('./raw_data/All_data_FIW_2013-2021.csv', sep=';', skiprows=1), 'Country/Territory')

In [8]:
freedom_house13_21.head()

,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,A,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
Country/Territory,,,,,,,,,,,,,,,,,,,,,
abkhazia,Eurasia,t,2021,PF,5,5,2,2,1,5,...,1,1,4,1,1,2,1,5,23,40
afghanistan,Asia,c,2021,NF,5,6,1,1,1,3,...,0,1,2,0,1,0,1,2,14,27
albania,Europe,c,2021,PF,3,3,3,3,2,8,...,2,3,9,3,2,2,2,9,39,66
algeria,MENA,c,2021,NF,6,5,1,1,1,3,...,2,2,6,2,2,2,1,7,22,32
andorra,Europe,c,2021,F,1,1,4,4,4,12,...,4,3,15,4,4,3,4,15,55,93

In [10]:
freedom_house73_21_ctr = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021.csv', sep=';')

In [11]:
freedom_house73_21_ctr.iloc[0,0] = np.nan
freedom_house73_21_ctr.iloc[0].replace(np.nan, None, inplace=True)
freedom_house73_21_ctr.columns = pd.MultiIndex.from_tuples(list(zip(freedom_house73_21_ctr.iloc[0], freedom_house73_21_ctr.iloc[1])))
freedom_house73_21_ctr.drop([0,1], inplace=True)
freedom_house73_21_ctr = freedom_house73_21_ctr[freedom_house73_21_ctr.iloc[:, 0].notna()]
c_names_as_index(freedom_house73_21_ctr, freedom_house73_21_ctr.columns[0])
freedom_house73_21_ctr.columns = ['_'.join(col).strip() for col in freedom_house73_21_ctr.columns.values]

In [12]:
freedom_house73_21_ctr.head()

,1972_PR,1972_CL,1972_Status,1973_PR,1973_CL,1973_Status,1974_PR,1974_CL,1974_Status,1975_PR,...,2017_Status,2018_PR,2018_CL,2018_Status,2019_PR,2019_CL,2019_Status,2020_PR,2020_CL,2020_Status
"(nan, nan)",,,,,,,,,,,,,,,,,,,,,
afghanistan,4,5,PF,7,6,NF,7,6,NF,7,...,NF,5,6,NF,5,6,NF,5,6,NF
albania,7,7,NF,7,7,NF,7,7,NF,7,...,PF,3,3,PF,3,3,PF,3,3,PF
algeria,6,6,NF,6,6,NF,6,6,NF,7,...,NF,6,5,NF,6,5,NF,6,5,NF
andorra,4,3,PF,4,4,PF,4,4,PF,4,...,F,1,1,F,1,1,F,1,1,F
angola,-,-,-,-,-,-,-,-,-,6,...,NF,6,5,NF,6,5,NF,6,5,NF

In [10]:
freedom_house73_21_hd = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021_hd.csv', sep=';')

In [11]:
freedom_house73_21_hd.head()

,FIW Survey Edition*,Year(s) Under Review**,Total Countries,Number of F Countries,% of F Countries,Number of PF Countries,% of PF Countries,Number of NF Countries,% of NF Countries,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,2021,2020,195.0,82.0,"42,05 %",59.0,"30,26 %",54.0,"27,69 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,2019,195.0,83.0,"42,56 %",63.0,"32,31 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,2018,195.0,86.0,"44,10 %",59.0,"30,26 %",50.0,"25,64 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018,2017,195.0,88.0,"45,13 %",58.0,"29,74 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2017,2016,195.0,87.0,"44,62 %",59.0,"30,26 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [13]:
freedom_house_aggregate03_05 = c_names_as_index(pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_a.csv', sep=';', skiprows=1), 'Abkhazia')

In [14]:
freedom_house_aggregate03_05.head()

,Eurasia,t,2021,PF,5,5.1,5.2,8,4,0,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
Abkhazia,,,,,,,,,,,,,,,,,,,,,
afghanistan,Asia,c,2021,NF,5,6,3,7,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
albania,Europe,c,2021,PF,3,3,8,12,7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
algeria,MENA,c,2021,NF,6,5,3,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
andorra,Europe,c,2021,F,1,1,12,15,11,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
angola,SSA,c,2021,NF,6,5,3,5,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
freedom_house_aggregate06_21 = c_names_as_index(pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_b.csv', sep=';', skiprows=1), 'Abkhazia')

In [16]:
freedom_house_aggregate06_21.head()

             t   9 9.1 9.2  20  21 21.1  29  30 30.1
Abkhazia
afghanistan  c   8   9  13  15  14   14  23  23   27
albania      c  26  26  26  42  42   40  68  68   66
algeria      c  11  11  10  22  22   25  33  33   35
andorra      c  39  39  39  57  58   58  96  97   97
angola       c   8   7   8  22  22   22  30  29   30

In [17]:
bjorskov_integrated = c_names_as_index(pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2.csv', sep=';'), 'country')

In [18]:
bjorskov_integrated.head()

,country isocode,year,DD regime,DD category,Unnamed: 5,Monarchy,Commonwealth,Monarch name,Monarch accession,Monarch birthyear,...,spatial electoral,Unnamed: 42,alternation,multiparty,free and fair election,Unnamed: 46,parliamentary election year,"election month, year",postponed election,Unnamed: 50
country,,,,,,,,,,,,,,,,,,,,,
afghanistan,AFG,1950,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,1914.0,...,"1,5",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN
afghanistan,AFG,1951,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,1914.0,...,"1,5",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN
afghanistan,AFG,1952,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,1914.0,...,"1,75",NaN,0.0,1.0,0.0,NaN,1.0,February 1952,0.0,NaN
afghanistan,AFG,1953,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,1914.0,...,"1,75",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN
afghanistan,AFG,1954,5.0,Royal dictatorship,NaN,1.0,0.0,Mohammed Zahir Shah,1933.0,1914.0,...,"1,75",NaN,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN

In [22]:
bjorskov_integrated_coups = c_names_as_index(pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2_coups.csv', sep=';'), 'country')

In [23]:
bjorskov_integrated_coups.head()

,country isocode,year,DD regime,DD category,Unnamed: 5,Failed coups,Successful coups,All coups,First coup,year.1,...,month.2,Type.2,Third coup success,Category type third coup,Coup leaders.2,Age of leaders.1,Military Rank (Nato code).2,Militaryrankindex.2,Civilrankindex.2,spatial total coups
country,,,,,,,,,,,,,,,,,,,,,
afghanistan,AFG,1950,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1951,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"
afghanistan,AFG,1952,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1953,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1954,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"

In [24]:
bjorskov_integrated_colonial_institutions = c_names_as_index(pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2_colonial_institutions.csv', sep=';'), 'country')

In [25]:
bjorskov_integrated_colonial_institutions.head()

,country isocode,year,DD regime,DD category,Democracy,Presidential,countrycode,No. of chambers in parliament,proportional voting,Election system,...,No. of members in upper house,No. of members in third house,New constitution,fullsuffrage,Suffrage restriction,electoral,Details,Unnamed: 19,Unnamed: 20,Self-governing
country,,,,,,,,,,,,,,,,,,,,,
afghanistan,AFG,1950,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1951,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1952,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1953,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1954,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,NaN,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN

In [26]:
OECD_union = c_names_as_index(pd.read_csv('./raw_data/TUD_21032021172006040.csv', sep=','), 'Country')

In [27]:
OECD_union.head()

,COU,SOURCE,Source,SERIES,Series,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
Country,,,,,,,,,,,,,,,,
hungary,HUN,ADM,Administrative data,EEM,Employees,1998,1998,NBR,Number,3,Thousands,NaN,NaN,3088.0,NaN,NaN
hungary,HUN,ADM,Administrative data,EEM,Employees,2000,2000,NBR,Number,3,Thousands,NaN,NaN,3256.0,NaN,NaN
hungary,HUN,ADM,Administrative data,EEM,Employees,2001,2001,NBR,Number,3,Thousands,NaN,NaN,3314.0,NaN,NaN
hungary,HUN,ADM,Administrative data,EEM,Employees,2003,2003,NBR,Number,3,Thousands,NaN,NaN,3399.0,NaN,NaN
hungary,HUN,ADM,Administrative data,EEM,Employees,2005,2005,NBR,Number,3,Thousands,NaN,NaN,3367.0,NaN,NaN

In [28]:
WB_civil_soc_participation = c_names_as_index(pd.read_csv('./raw_data/worldbank_civil_society_participation.csv', sep=','), 'Country Name')

In [29]:
WB_civil_soc_participation.head()

,Country ISO3,Indicator Id,Indicator,Subindicator Type,2006,2008,2010,2012,2014,2016,2018
Country Name,,,,,,,,,,,
afghanistan,AFG,28736,Anticorruption policy,Score,1.0,1.0,1.0,1.0,1.0,3.0,2.0
afghanistan,AFG,28737,Civil rights,Score,2.0,3.0,2.0,2.0,2.0,2.0,2.0
afghanistan,AFG,28738,Civil society participation,Score,4.0,4.0,3.0,3.0,3.0,4.0,4.0
afghanistan,AFG,28739,Civil society traditions,Score,10.0,10.0,10.0,10.0,10.0,10.0,10.0
afghanistan,AFG,28740,Cleavage conflict management,Score,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [33]:
all_df = pd.concat([
    freedom_house13_21, 
    freedom_house73_21_ctr, 
    freedom_house_aggregate03_05, 
    freedom_house_aggregate06_21, 
    bjorskov_integrated, 
    bjorskov_integrated_coups, 
    bjorskov_integrated_colonial_institutions, 
    OECD_union, 
    WB_civil_soc_participation], 
    axis=0)

In [34]:
all_df.to_csv('raw_data/master.csv')