In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import wbdata

In [17]:
def c_names_as_index(df, cn):
    df.index = df.loc[:, cn].apply(lambda x: x.lower())
    df.drop([cn], axis=1, inplace=True)
    return df

In [81]:
rep_map = {
    '2(5)': np.nan,
    'nan': np.nan,
    '3(6)': np.nan
}

In [9]:
freedom_house13_21 = c_names_as_index(pd.read_csv('./raw_data/All_data_FIW_2013-2021.csv', sep=';', skiprows=1), 'Country/Territory')

In [39]:
freedom_house13_21.head()

,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,A,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
Country/Territory,,,,,,,,,,,,,,,,,,,,,
abkhazia,Eurasia,t,2021,PF,5,5,2,2,1,5,...,1,1,4,1,1,2,1,5,23,40
afghanistan,Asia,c,2021,NF,5,6,1,1,1,3,...,0,1,2,0,1,0,1,2,14,27
albania,Europe,c,2021,PF,3,3,3,3,2,8,...,2,3,9,3,2,2,2,9,39,66
algeria,MENA,c,2021,NF,6,5,1,1,1,3,...,2,2,6,2,2,2,1,7,22,32
andorra,Europe,c,2021,F,1,1,4,4,4,12,...,4,3,15,4,4,3,4,15,55,93

In [18]:
freedom_house73_21_ctr = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021.csv', sep=';')

In [19]:
freedom_house73_21_ctr.iloc[0,0] = np.nan
freedom_house73_21_ctr.iloc[0].replace(np.nan, None, inplace=True)
freedom_house73_21_ctr.columns = pd.MultiIndex.from_tuples(list(zip(freedom_house73_21_ctr.iloc[0], freedom_house73_21_ctr.iloc[1])))
freedom_house73_21_ctr.drop([0,1], inplace=True)
freedom_house73_21_ctr = freedom_house73_21_ctr[freedom_house73_21_ctr.iloc[:, 0].notna()]
freedom_house73_21_ctr.index = freedom_house73_21_ctr.loc[:, freedom_house73_21_ctr.columns[0]].apply(lambda x: x.lower())
freedom_house73_21_ctr.drop(freedom_house73_21_ctr.columns[0], axis=1, inplace=True)
freedom_house73_21_ctr = freedom_house73_21_ctr.replace('-', np.nan)

In [20]:
y_list = [int(i.split('.')[-1].strip()) for i in freedom_house73_21_ctr.columns.get_level_values(0).unique()]
_df = pd.DataFrame(columns=[i.strip() for i in list(freedom_house73_21_ctr.columns.get_level_values(1)[:3])], index=pd.MultiIndex.from_tuples(list(zip(np.repeat(freedom_house73_21_ctr.index, len(y_list)), y_list * len(y_list)))))
for i in freedom_house73_21_ctr.index:
    for j in freedom_house73_21_ctr.columns.get_level_values(0).unique():
        _df.loc[(i, int(j.split('.')[-1].strip())), :] = [*list(freedom_house73_21_ctr.loc[i, j])]
freedom_house73_21_ctr = _df
freedom_house73_21_ctr.index.names = ['country', 'year']

In [122]:
#freedom_house73_21_ctr.iloc[:, :-1] = freedom_house73_21_ctr.iloc[:, :-1].replace(rep_map)
#freedom_house73_21_ctr.iloc[:, :-1] = freedom_house73_21_ctr.iloc[:, :-1].apply(pd.to_numeric, errors='coerce')

In [121]:
freedom_house73_21_ctr.head()

                 PR CL Status
country     year
afghanistan 1972  4  5     PF
            1973  7  6     NF
            1974  7  6     NF
            1975  7  6     NF
            1976  7  6     NF

In [127]:
freedom_house73_21_ctr.iloc[:, :-1].apply(pd.to_numeric, errors='coerce')

                   PR   CL
country     year
afghanistan 1972  4.0  5.0
            1973  7.0  6.0
            1974  7.0  6.0
            1975  7.0  6.0
            1976  7.0  6.0
...               ...  ...
zimbabwe    2016  5.0  5.0
            2017  6.0  5.0
            2018  5.0  5.0
            2019  5.0  5.0
            2020  6.0  5.0

[9840 rows x 2 columns]

In [116]:
freedom_house73_21_hd = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021_hd.csv', sep=';')

In [45]:
freedom_house73_21_hd.head()

,FIW Survey Edition*,Year(s) Under Review**,Total Countries,Number of F Countries,% of F Countries,Number of PF Countries,% of PF Countries,Number of NF Countries,% of NF Countries,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,2021,2020,195.0,82.0,"42,05 %",59.0,"30,26 %",54.0,"27,69 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,2019,195.0,83.0,"42,56 %",63.0,"32,31 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,2018,195.0,86.0,"44,10 %",59.0,"30,26 %",50.0,"25,64 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018,2017,195.0,88.0,"45,13 %",58.0,"29,74 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2017,2016,195.0,87.0,"44,62 %",59.0,"30,26 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [46]:
freedom_house_aggregate03_05 = c_names_as_index(pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_a.csv', sep=';', skiprows=1), 'Abkhazia')

In [47]:
freedom_house_aggregate03_05.head()

,Eurasia,t,2021,PF,5,5.1,5.2,8,4,0,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
Abkhazia,,,,,,,,,,,,,,,,,,,,,
afghanistan,Asia,c,2021,NF,5,6,3,7,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
albania,Europe,c,2021,PF,3,3,8,12,7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
algeria,MENA,c,2021,NF,6,5,3,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
andorra,Europe,c,2021,F,1,1,12,15,11,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
angola,SSA,c,2021,NF,6,5,3,5,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
freedom_house_aggregate06_21 = c_names_as_index(pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_b.csv', sep=';', skiprows=1), 'Abkhazia')

In [49]:
freedom_house_aggregate06_21.head()

             t   9 9.1 9.2  20  21 21.1  29  30 30.1
Abkhazia
afghanistan  c   8   9  13  15  14   14  23  23   27
albania      c  26  26  26  42  42   40  68  68   66
algeria      c  11  11  10  22  22   25  33  33   35
andorra      c  39  39  39  57  58   58  96  97   97
angola       c   8   7   8  22  22   22  30  29   30

In [30]:
bjorskov_integrated = c_names_as_index(pd.read_csv('./raw_data/Bjørnskov-Rode-integrated-dataset-v3.2.csv', sep=';'), 'country')
bjorskov_integrated.index = pd.MultiIndex.from_tuples(list(zip(
    bjorskov_integrated.index,
    bjorskov_integrated.year.astype('int')
)))
bjorskov_integrated.drop(['country isocode', 'year'] + [i for i in bjorskov_integrated if 'Unnamed' in i], axis=1, inplace=True)
bjorskov_integrated.index.names = ['country', 'year']

In [7]:
bjorskov_integrated.head()

                  DD regime         DD category  Monarchy  Commonwealth  \
country     year
afghanistan 1950        5.0  Royal dictatorship       1.0           0.0
            1951        5.0  Royal dictatorship       1.0           0.0
            1952        5.0  Royal dictatorship       1.0           0.0
            1953        5.0  Royal dictatorship       1.0           0.0
            1954        5.0  Royal dictatorship       1.0           0.0

                         Monarch name  Monarch accession  Monarch birthyear  \
country     year
afghanistan 1950  Mohammed Zahir Shah             1933.0             1914.0
            1951  Mohammed Zahir Shah             1933.0             1914.0
            1952  Mohammed Zahir Shah             1933.0             1914.0
            1953  Mohammed Zahir Shah             1933.0             1914.0
            1954  Mohammed Zahir Shah             1933.0             1914.0

                  Female monarch (0: No; 1: Yes)  Democracy  Presidential  \
country     year
afghanistan 1950                             0.0        0.0           0.0
            1951                             0.0        0.0           0.0
            1952                             0.0        0.0           0.0
            1953                             0.0        0.0           0.0
            1954                             0.0        0.0           0.0

                  ... fullsuffrage  Suffrage restriction  electoral  \
country     year  ...
afghanistan 1950  ...          0.0        Male vote only        2.0
            1951  ...          0.0        Male vote only        2.0
            1952  ...          0.0        Male vote only        2.0
            1953  ...          0.0        Male vote only        2.0
            1954  ...          0.0        Male vote only        2.0

                  spatial electoral  alternation  multiparty  \
country     year
afghanistan 1950                1,5          0.0         1.0
            1951                1,5          0.0         1.0
            1952               1,75          0.0         1.0
            1953               1,75          0.0         1.0
            1954               1,75          0.0         1.0

                 free and fair election parliamentary election year  \
country     year
afghanistan 1950                    0.0                         0.0
            1951                    0.0                         0.0
            1952                    0.0                         1.0
            1953                    0.0                         0.0
            1954                    0.0                         0.0

                  election month, year  postponed election
country     year
afghanistan 1950                   NaN                 0.0
            1951                   NaN                 0.0
            1952         February 1952                 0.0
            1953                   NaN                 0.0
            1954                   NaN                 0.0

[5 rows x 39 columns]

In [52]:
bjorskov_integrated_coups = c_names_as_index(pd.read_csv('./raw_data/Bjørnskov-Rode-integrated-dataset-v3.2_coups.csv', sep=';'), 'country')

In [53]:
bjorskov_integrated_coups.head()

,country isocode,year,DD regime,DD category,Unnamed: 5,Failed coups,Successful coups,All coups,First coup,year.1,...,month.2,Type.2,Third coup success,Category type third coup,Coup leaders.2,Age of leaders.1,Military Rank (Nato code).2,Militaryrankindex.2,Civilrankindex.2,spatial total coups
country,,,,,,,,,,,,,,,,,,,,,
afghanistan,AFG,1950,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1951,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"
afghanistan,AFG,1952,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1953,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1954,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"

In [54]:
bjorskov_integrated_colonial_institutions = c_names_as_index(pd.read_csv('./raw_data/Bjørnskov-Rode-integrated-dataset-v3.2_colonial_institutions.csv', sep=';'), 'country')

In [55]:
bjorskov_integrated_colonial_institutions.head()

,country isocode,year,DD regime,DD category,Democracy,Presidential,countrycode,No. of chambers in parliament,proportional voting,Election system,...,No. of members in upper house,No. of members in third house,New constitution,fullsuffrage,Suffrage restriction,electoral,Details,Unnamed: 19,Unnamed: 20,Self-governing
country,,,,,,,,,,,,,,,,,,,,,
afghanistan,AFG,1950,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1951,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1952,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1953,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1954,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,NaN,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN

In [21]:
OECD_union = c_names_as_index(pd.read_csv('./raw_data/TUD_21032021172006040.csv', sep=','), 'Country')
OECD_union.drop(OECD_union.columns[:4], inplace=True, axis=1)
OECD_union.drop(OECD_union.columns[1], inplace=True, axis=1)
OECD_union.drop(OECD_union.columns[2:8], inplace=True, axis=1)
OECD_union.drop(OECD_union.columns[3:], inplace=True, axis=1)
OECD_union['id'] = OECD_union.index
OECD_union.drop_duplicates(['Series', 'Year', 'id'], inplace=True)
OECD_union.drop(['id'], axis=1, inplace=True)

In [22]:
_df = pd.DataFrame(columns=OECD_union.Series.unique(), index=pd.MultiIndex.from_tuples(list(zip(
    np.repeat(OECD_union.index.unique(), len(OECD_union.Year.unique())), 
    sorted(OECD_union.Year.unique().astype('int')) * len(OECD_union.Year.unique())
))))

for i in _df.index:
    for j in _df.columns:
        val = OECD_union.loc[i[0]][(OECD_union.loc[i[0]].Year == i[1]) & (OECD_union.loc[i[0]].Series.str.match(j))].Value
        _df.loc[i, j] = int(val) if not val.empty else np.nan
OECD_union = _df
OECD_union.index.names = ['country', 'year']

In [58]:
OECD_union.head()

             Employees Union members Trade union  density
country year
hungary 1998      3088           840                   27
        1999       NaN           NaN                  NaN
        2000      3256           775                   23
        2001      3314           654                   19
        2002       NaN           NaN                  NaN

In [23]:
WB_civil_soc_participation = c_names_as_index(pd.read_csv('./raw_data/worldbank_civil_society_participation.csv', sep=','), 'Country Name')

In [24]:
WB_civil_soc_participation.index = pd.MultiIndex.from_tuples(list(zip(
    WB_civil_soc_participation.index, 
    WB_civil_soc_participation.loc[:, 'Indicator'])))
WB_civil_soc_participation.drop(['Country ISO3', 'Indicator Id', 'Indicator', 'Subindicator Type'], axis=1, inplace=True)
WB_civil_soc_participation.index.names = ['country', 'year']

In [25]:
_df = pd.DataFrame(columns=WB_civil_soc_participation.index.get_level_values(1).unique(), \
    index=pd.MultiIndex.from_tuples(\
        list(zip(np.repeat(WB_civil_soc_participation.index.get_level_values(0).unique(), 
        len(WB_civil_soc_participation.columns)),\
            len(WB_civil_soc_participation.index.get_level_values(0).unique()) * list(WB_civil_soc_participation.columns.astype('int'))))))
for i in _df.index:
    for j in _df.columns:
        try:
            _df.loc[i, j] = WB_civil_soc_participation.loc[(i[0], j), str(i[1])]
        except:
            _df.loc[i, j] = np.nan
WB_civil_soc_participation = _df
WB_civil_soc_participation.index.names = ['country', 'year']

In [24]:
WB_civil_soc_participation

year             Anticorruption policy Civil rights  \
country     year
afghanistan 2006                   1.0          2.0
            2008                   1.0          3.0
            2010                   1.0          2.0
            2012                   1.0          2.0
            2014                   1.0          2.0
...                                ...          ...
zimbabwe    2010                   1.0          2.0
            2012                   1.0          2.0
            2014                   3.0          3.0
            2016                   2.0          4.0
            2018                   2.0          3.0

year             Civil society participation Civil society traditions  \
country     year
afghanistan 2006                         4.0                     10.0
            2008                         4.0                     10.0
            2010                         3.0                     10.0
            2012                         3.0                     10.0
            2014                         3.0                     10.0
...                                      ...                      ...
zimbabwe    2010                         1.0                      7.0
            2012                         2.0                      7.0
            2014                         3.0                      6.0
            2016                         4.0                      6.0
            2018                         2.0                      6.0

year             Cleavage conflict management  \
country     year
afghanistan 2006                          4.0
            2008                          4.0
            2010                          4.0
            2012                          4.0
            2014                          4.0
...                                       ...
zimbabwe    2010                          1.0
            2012                          2.0
            2014                          2.0
            2016                          3.0
            2018                          3.0

year             Commitment to democratic institutions Conflict intensity  \
country     year
afghanistan 2006                                   3.0                9.0
            2008                                   3.0                9.0
            2010                                   3.0               10.0
            2012                                   3.0               10.0
            2014                                   3.0                9.0
...                                                ...                ...
zimbabwe    2010                                   2.0                6.0
            2012                                   3.0                7.0
            2014                                   3.0                7.0
            2016                                   3.0                5.0
            2018                                   2.0                6.0

year             Consensus on goals Antidemocratic actors  \
country     year
afghanistan 2006                3.0                   5.0
            2008                3.0                   4.0
            2010                3.0                   4.0
            2012                3.0                   3.0
            2014                3.0                   4.0
...                             ...                   ...
zimbabwe    2010                3.0                   3.0
            2012                4.0                   3.0
            2014                4.0                   4.0
            2016                3.0                   2.0
            2018                3.0                   2.0

year             Education policy R&D  ... Social capital Social safety nets  \
country     year                       ...
afghanistan 2006                  1.0  ...            4.0                1.0
            2008                  1.0  ...            4.0                1.0
            2010                  1.0  ...            2.0                1.0
            2012                  1.0  ...            2.0                1.0
            2014                  2.0  ...            2.0                1.0
...                               ...  ...            ...                ...
zimbabwe    2010                  3.0  ...            5.0                2.0
            2012                  4.0  ...            5.0                2.0
            2014                  4.0  ...            4.0                3.0
            2016                  4.0  ...            4.0                3.0
            2018                  4.0  ...            4.0                3.0

year             Socioeconomic barriers Stability of Democratic Institutions  \
country     year
afghanistan 2006                    1.0                                  3.0
            2008                    1.0                                  3.0
            2010                    1.0                                  3.0
            2012                    1.0                                  3.0
            2014                    1.0                                  3.0
...                                 ...                                  ...
zimbabwe    2010                    2.0                                  2.0
            2012                    3.0                                  3.0
            2014                    3.0                                  3.0
            2016                    3.0                                  3.0
            2018                    2.0                                  2.5

year             State identity Basic administration Steering Capability  \
country     year
afghanistan 2006            6.0                  2.0            4.333333
            2008            6.0                  2.0            4.333333
            2010            6.0                  1.0                 3.0
            2012            6.0                  2.0                 3.0
            2014            6.0                  2.0                 3.0
...                         ...                  ...                 ...
zimbabwe    2010            9.0                  4.0            1.333333
            2012            9.0                  5.0            2.333333
            2014            7.0                  5.0            3.333333
            2016            7.0                  5.0            2.666667
            2018            7.0                  4.0            2.333333

year             Structural constraints Welfare Regime Approval of democracy
country     year
afghanistan 2006                   10.0            1.0                   NaN
            2008                   10.0            1.5                   NaN
            2010                   10.0            1.5                   NaN
            2012                   10.0            1.5                   NaN
            2014                   10.0            1.5                   NaN
...                                 ...            ...                   ...
zimbabwe    2010                    7.0            2.5                   NaN
            2012                    7.0            2.5                   NaN
            2014                    7.0            3.0                   NaN
            2016                    7.0            3.0                   NaN
            2018                    7.0            3.0                   NaN

[896 rows x 45 columns]

In [16]:
gdp = c_names_as_index(pd.read_csv('./raw_data/gdp-per-capita-worldbank.csv', sep=','), 'Entity')
gdp = gdp.rename(columns={gdp.columns[-1]: 'gdp'})
gdp.index = pd.MultiIndex.from_tuples(list(zip(gdp.index, gdp.Year)))
gdp.index = gdp.index.set_names(['country', 'year'])
gdp.drop(['Code', 'Year'], axis=1 ,inplace=True)

In [7]:
gdp.index.get_level_values(1).unique()

Int64Index([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
            2013, 2014, 2015, 2016, 2017, 1990, 1991, 1992, 1993, 1994, 1995,
            1996, 1997, 1998, 1999, 2000, 2001],
           dtype='int64', name='year')

In [66]:
gdp.head()

                          gdp
country     year
afghanistan 2002  1063.635574
            2003  1099.194507
            2004  1062.249360
            2005  1136.123214
            2006  1161.124889

In [26]:
def wb_clear(df, x):
    df.index = df.index.set_levels(df.index.levels[1].astype(int), level=1)
    df.index = df.index.set_levels(df.index.levels[0].str.lower(), level=0)
    df = df[df.index.get_level_values(1) >= 2006]
    df = df[df.loc[:, x].notna()]
    df.index = df.index.set_names('year', level=1)
    return df

In [27]:
#https://data.worldbank.org/indicator/NY.GDP.PCAP.CD

gdp_pc = wbdata.get_dataframe({'NY.GDP.PCAP.CD':'gdp'})
gdp_pc = wb_clear(gdp_pc, 'gdp')

In [12]:
gdp_pc

                         gdp
country    year
arab world 2019  6584.740241
           2018  6601.825189
           2017  6108.588220
           2016  6112.105953
           2015  6400.360350
...                      ...
zimbabwe   2010   948.331854
           2009   771.598786
           2008   356.693350
           2007   431.787188
           2006   447.854924

[3504 rows x 1 columns]

In [28]:
gov_spending = wbdata.get_dataframe({'GC.XPN.TOTL.GD.ZS':'gs'})
gov_spending = wb_clear(gov_spending, 'gs')

In [14]:
gov_spending.head()

                                    gs
country                year
caribbean small states 2018  27.267112
                       2017  29.108126
                       2016  29.504582
                       2015  29.262266
                       2014  27.823598

In [37]:
#GC.TAX.TOTL.GD.ZS
taxes = wbdata.get_dataframe({'GC.TAX.TOTL.GD.ZS':'t'})
taxes = wb_clear(taxes, 't')

In [40]:
# freedom_house73_21_ctr
# bjorskov_integrated
# OECD_union
# WB_civil_soc_participation
dfs = [freedom_house73_21_ctr, bjorskov_integrated, WB_civil_soc_participation, gov_spending, taxes, gdp_pc]

In [41]:
all_df = reduce(lambda l, r: l.join(r), dfs)

In [42]:
all_df.shape

(9840, 90)

In [43]:
all_df.to_csv('raw_data/master.csv')

In [120]:
all_df

                 PR CL Status  DD regime            DD category  Monarchy  \
country     year
afghanistan 1972  4  5     PF        5.0     Royal dictatorship       1.0
            1973  7  6     NF        5.0     Royal dictatorship       1.0
            1974  7  6     NF        3.0  Civilian dictatorship       0.0
            1975  7  6     NF        3.0  Civilian dictatorship       0.0
            1976  7  6     NF        3.0  Civilian dictatorship       0.0
...              .. ..    ...        ...                    ...       ...
zimbabwe    2016  5  5     PF        3.0  Civilian dictatorship       0.0
            2017  6  5     NF        3.0  Civilian dictatorship       0.0
            2018  5  5     PF        4.0  Military dictatorship       0.0
            2019  5  5     PF        4.0  Military dictatorship       0.0
            2020  6  5     NF        4.0  Military dictatorship       0.0

                  Commonwealth         Monarch name  Monarch accession  \
country     year
afghanistan 1972           0.0  Mohammed Zahir Shah             1933.0
            1973           0.0  Mohammed Zahir Shah             1933.0
            1974           0.0                  NaN                NaN
            1975           0.0                  NaN                NaN
            1976           0.0                  NaN                NaN
...                        ...                  ...                ...
zimbabwe    2016           0.0                  NaN                NaN
            2017           0.0                  NaN                NaN
            2018           0.0                  NaN                NaN
            2019           0.0                  NaN                NaN
            2020           0.0                  NaN                NaN

                  Monarch birthyear  ...  Social safety nets  \
country     year                     ...
afghanistan 1972             1914.0  ...                 NaN
            1973             1914.0  ...                 NaN
            1974                NaN  ...                 NaN
            1975                NaN  ...                 NaN
            1976                NaN  ...                 NaN
...                             ...  ...                 ...
zimbabwe    2016                NaN  ...                 NaN
            2017                NaN  ...                 NaN
            2018                NaN  ...                 NaN
            2019                NaN  ...                 NaN
            2020                NaN  ...                 NaN

                  Socioeconomic barriers  \
country     year
afghanistan 1972                     NaN
            1973                     NaN
            1974                     NaN
            1975                     NaN
            1976                     NaN
...                                  ...
zimbabwe    2016                     NaN
            2017                     NaN
            2018                     NaN
            2019                     NaN
            2020                     NaN

                  Stability of Democratic Institutions State identity  \
country     year
afghanistan 1972                                   NaN            NaN
            1973                                   NaN            NaN
            1974                                   NaN            NaN
            1975                                   NaN            NaN
            1976                                   NaN            NaN
...                                                ...            ...
zimbabwe    2016                                   NaN            NaN
            2017                                   NaN            NaN
            2018                                   NaN            NaN
            2019                                   NaN            NaN
            2020                                   NaN            NaN

                  Basic administration  Steering Capability  \
country     year
afghanistan 1972                   NaN                  NaN
            1973                   NaN                  NaN
            1974                   NaN                  NaN
            1975                   NaN                  NaN
            1976                   NaN                  NaN
...                                ...                  ...
zimbabwe    2016                   NaN                  NaN
            2017                   NaN                  NaN
            2018                   NaN                  NaN
            2019                   NaN                  NaN
            2020                   NaN                  NaN

                  Structural constraints  Welfare Regime  \
country     year
afghanistan 1972                     NaN             NaN
            1973                     NaN             NaN
            1974                     NaN             NaN
            1975                     NaN             NaN
            1976                     NaN             NaN
...                                  ...             ...
zimbabwe    2016                     NaN             NaN
            2017                     NaN             NaN
            2018                     NaN             NaN
            2019                     NaN             NaN
            2020                     NaN             NaN

                  Approval of democracy          gdp
country     year
afghanistan 1972                    NaN          NaN
            1973                    NaN          NaN
            1974                    NaN          NaN
            1975                    NaN          NaN
            1976                    NaN          NaN
...                                 ...          ...
zimbabwe    2016                    NaN  1464.583529
            2017                    NaN  1548.170056
            2018                    NaN  1683.740577
            2019                    NaN  1463.985910
            2020                    NaN          NaN

[9840 rows x 91 columns]

In [122]:
all_df.reset_index(inplace=True)
all_df = all_df[(all_df.year >= 2006) & (all_df.year % 2 == 0) & (all_df.year <= 2018)]

In [123]:
all_df.shape

(1435, 93)

In [124]:
all_df

,country,year,PR,CL,Status,DD regime,DD category,Monarchy,Commonwealth,Monarch name,...,Social safety nets,Socioeconomic barriers,Stability of Democratic Institutions,State identity,Basic administration,Steering Capability,Structural constraints,Welfare Regime,Approval of democracy,gdp
33,afghanistan,2006,5,5,PF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,1.0,1.0,3.0,6.0,2.0,4.333333,10.0,1.0,NaN,263.733692
35,afghanistan,2008,5,6,NF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,1.0,1.0,3.0,6.0,2.0,4.333333,10.0,1.5,NaN,364.660745
37,afghanistan,2010,6,6,NF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,1.0,1.0,3.0,6.0,1.0,3.0,10.0,1.5,NaN,543.303042
39,afghanistan,2012,6,6,NF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,1.0,1.0,3.0,6.0,2.0,3.0,10.0,1.5,NaN,641.871479
41,afghanistan,2014,6,6,NF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,1.0,1.0,3.0,6.0,2.0,3.0,10.0,1.5,NaN,613.856689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9829,zimbabwe,2010,6,6,NF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,948.331854
9831,zimbabwe,2012,6,6,NF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1304.969802
9833,zimbabwe,2014,5,6,NF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1434.899340
9835,zimbabwe,2016,5,5,PF,3.0,Civilian dictatorship,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1464.583529
9837,zimbabwe,2018,5,5,PF,4.0,Military dictatorship,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1683.740577

In [3]:
wbdata.get_source()

  id  name
----  --------------------------------------------------------------------
   1  Doing Business
   2  World Development Indicators
   3  Worldwide Governance Indicators
   5  Subnational Malnutrition Database
   6  International Debt Statistics
  11  Africa Development Indicators
  12  Education Statistics
  13  Enterprise Surveys
  14  Gender Statistics
  15  Global Economic Monitor
  16  Health Nutrition and Population Statistics
  18  IDA Results Measurement System
  19  Millennium Development Goals
  20  Quarterly Public Sector Debt
  22  Quarterly External Debt Statistics SDDS
  23  Quarterly External Debt Statistics GDDS
  24  Poverty and Equity
  25  Jobs
  27  Global Economic Prospects
  28  Global Financial Inclusion
  29  The Atlas of Social Protection: Indicators of Resilience and Equity
  30  Exporter Dynamics Database – Indicators at Country-Year Level
  31  Country Policy and Institutional Assessment
  32  Global Financial Development
  33  G20 Financial Inclusion Indicators
  34  Global Partnership for Education
  35  Sustainable Energy for All
  36  Statistical Capacity Indicators
  37  LAC Equity Lab
  38  Subnational Poverty
  39  Health Nutrition and Population Statistics by Wealth Quintile
  40  Population estimates and projections
  41  Country Partnership Strategy for India (FY2013 - 17)
  43  Adjusted Net Savings
  45  Indonesia Database for Policy and Economic Research
  46  Sustainable Development Goals
  50  Subnational Population
  54  Joint External Debt Hub
  57  WDI Database Archives
  58  Universal Health Coverage
  59  Wealth Accounts
  60  Economic Fitness
  61  PPPs Regulatory Quality
  62  International Comparison Program (ICP) 2011
  63  Human Capital Index
  64  Worldwide Bureaucracy Indicators
  65  Health Equity and Financial Protection Indicators
  66  Logistics Performance Index
  67  PEFA 2011
  68  PEFA 2016
  69  Global Financial Inclusion and Consumer Protection Survey
  70  Economic Fitness 2
  71  International Comparison Program (ICP) 2005
  72  PEFA_Test
  73  Global Financial Inclusion and Consumer Protection Survey (Internal)
  75  Environment, Social and Governance (ESG) Data
  76  Remittance Prices Worldwide (Sending Countries)
  77  Remittance Prices Worldwide (Receiving Countries)
  78  ICP 2017
  79  PEFA_GRPFM
  80  Gender Disaggregated Labor Database (GDLD)
  81  International Debt Statistics: DSSI
  82  Global Public Procurement
  83  Statistical Performance Indicators (SPI)

In [4]:
wbdata.get_indicator(source=2)

uth male (% of male labor force ages 15-24) (national estimate)
SL.UEM.1524.MA.ZS          Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)
SL.UEM.1524.NE.ZS          Unemployment, youth total (% of total labor force ages 15-24) (national estimate)
SL.UEM.1524.ZS             Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)
SL.UEM.ADVN.FE.ZS          Unemployment with advanced education, female (% of female labor force with advanced education)
SL.UEM.ADVN.MA.ZS          Unemployment with advanced education, male (% of male labor force with advanced education)
SL.UEM.ADVN.ZS             Unemployment with advanced education (% of total labor force with advanced education)
SL.UEM.BASC.FE.ZS          Unemployment with basic education, female (% of female labor force with basic education)
SL.UEM.BASC.MA.ZS          Unemployment with basic education, male (% of male labor force with basic education)
SL.UEM.BASC.ZS             Unemployment with basic education (% of total labor force with basic education)
SL.UEM.INTM.FE.ZS          Unemployment with intermediate education, female (% of female labor force with intermediate education)
SL.UEM.INTM.MA.ZS          Unemployment with intermediate education, male (% of male labor force with intermediate education)
SL.UEM.INTM.ZS             Unemployment with intermediate education (% of total labor force with intermediate education)
SL.UEM.NEET.FE.ZS          Share of youth not in education, employment or training, female (% of female youth population)
SL.UEM.NEET.MA.ZS          Share of youth not in education, employment or training, male (% of male youth population)
SL.UEM.NEET.ZS             Share of youth not in education, employment or training, total (% of youth population)
SL.UEM.TOTL.FE.NE.ZS       Unemployment, female (% of female labor force) (national estimate)
SL.UEM.TOTL.FE.ZS          Unemployment, female (% of female labor force) (modeled ILO estimate)
SL.UEM.TOTL.MA.NE.ZS       Unemployment, male (% of male labor force) (national estimate)
SL.UEM.TOTL.MA.ZS          Unemployment, male (% of male labor force) (modeled ILO estimate)
SL.UEM.TOTL.NE.ZS          Unemployment, total (% of total labor force) (national estimate)
SL.UEM.TOTL.ZS             Unemployment, total (% of total labor force) (modeled ILO estimate)
SL.WAG.0714.FE.ZS          Children in employment, wage workers, female (% of female children in employment, ages 7-14)
SL.WAG.0714.MA.ZS          Children in employment, wage workers, male (% of male children in employment, ages 7-14)
SL.WAG.0714.ZS             Children in employment, wage workers (% of children in employment, ages 7-14)
SM.POP.NETM                Net migration
SM.POP.REFG                Refugee population by country or territory of asylum
SM.POP.REFG.OR             Refugee population by country or territory of origin
SM.POP.TOTL                International migrant stock, total
SM.POP.TOTL.ZS             International migrant stock (% of population)
SN.ITK.DEFC.ZS             Prevalence of undernourishment (% of population)
SN.ITK.MSFI.ZS             Prevalence of moderate or severe food insecurity in the population (%)
SN.ITK.SALT.ZS             Consumption of iodized salt (% of households)
SN.ITK.SVFI.ZS             Prevalence of severe food insecurity in the population (%)
SN.ITK.VITA.ZS             Vitamin A supplementation coverage rate (% of children ages 6-59 months)
SP.ADO.TFRT                Adolescent fertility rate (births per 1,000 women ages 15-19)
SP.DYN.AMRT.FE             Mortality rate, adult, female (per 1,000 female adults)
SP.DYN.AMRT.MA             Mortality rate, adult, male (per 1,000 male adults)
SP.DYN.CBRT.IN             Birth rate, crude (per 1,000 people)
SP.DYN.CDRT.IN             Death rate, crude (per 1,000 people)
SP.DYN.CONM.ZS             Contraceptive prevalence, modern methods (% of women ages 15-49)
SP.DYN.CONU.ZS             Contraceptive prevalence, any methods (% of women ages 15-49)
SP.DYN.IMRT.FE.IN          Mortality rate, infant, female (per 1,000 live births)
SP.DYN.IMRT.IN             Mortality rate, infant (per 1,000 live births)
SP.DYN.IMRT.MA.IN          Mortality rate, infant, male (per 1,000 live births)
SP.DYN.LE00.FE.IN          Life expectancy at birth, female (years)
SP.DYN.LE00.IN             Life expectancy at birth, total (years)
SP.DYN.LE00.MA.IN          Life expectancy at birth, male (years)
SP.DYN.TFRT.IN             Fertility rate, total (births per woman)
SP.DYN.TO65.FE.ZS          Survival to age 65, female (% of cohort)
SP.DYN.TO65.MA.ZS          Survival to age 65, male (% of cohort)
SP.DYN.WFRT                Wanted fertility rate (births per woman)
SP.HOU.FEMA.ZS             Female headed households (% of households with a female head)
SP.M15.2024.FE.ZS          Women who were first married by age 15 (% of women ages 20-24)
SP.M18.2024.FE.ZS          Women who were first married by age 18 (% of women ages 20-24)
SP.MTR.1519.ZS             Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)
SP.POP.0004.FE.5Y          Population ages 00-04, female (% of female population)
SP.POP.0004.MA.5Y          Population ages 00-04, male (% of male population)
SP.POP.0014.FE.IN          Population ages 0-14, female
SP.POP.0014.FE.ZS          Population ages 0-14, female (% of female population)
SP.POP.0014.MA.IN          Population ages 0-14, male
SP.POP.0014.MA.ZS          Population ages 0-14, male (% of male population)
SP.POP.0014.TO             Population ages 0-14, total
SP.POP.0014.TO.ZS          Population ages 0-14 (% of total population)
SP.POP.0509.FE.5Y          Population ages 05-09, female (% of female population)
SP.POP.0509.MA.5Y          Population ages 05-09, male (% of male population)
SP.POP.1014.FE.5Y          Population ages 10-14, female (% of female population)
SP.POP.1014.MA.5Y          Population ages 10-14, male (% of male population)
SP.POP.1519.FE.5Y          Population ages 15-19, female (% of female population)
SP.POP.1519.MA.5Y          Population ages 15-19, male (% of male population)
SP.POP.1564.FE.IN          Population ages 15-64, female
SP.POP.1564.FE.ZS          Population ages 15-64, female (% of female population)
SP.POP.1564.MA.IN          Population ages 15-64, male
SP.POP.1564.MA.ZS          Population ages 15-64, male (% of male population)
SP.POP.1564.TO             Population ages 15-64, total
SP.POP.1564.TO.ZS          Population ages 15-64 (% of total population)
SP.POP.2024.FE.5Y          Population ages 20-24, female (% of female population)
SP.POP.2024.MA.5Y          Population ages 20-24, male (% of male population)
SP.POP.2529.FE.5Y          Population ages 25-29, female (% of female population)
SP.POP.2529.MA.5Y          Population ages 25-29, male (% of male population)
SP.POP.3034.FE.5Y          Population ages 30-34, female (% of female population)
SP.POP.3034.MA.5Y          Population ages 30-34, male (% of male population)
SP.POP.3539.FE.5Y          Population ages 35-39, female (% of female population)
SP.POP.3539.MA.5Y          Population ages 35-39, male (% of male population)
SP.POP.4044.FE.5Y          Population ages 40-44, female (% of female population)
SP.POP.4044.MA.5Y          Population ages 40-44, male (% of male population)
SP.POP.4549.FE.5Y          Population ages 45-49, female (% of female population)
SP.POP.4549.MA.5Y          Population ages 45-49, male (% of male population)
SP.POP.5054.FE.5Y          Population ages 50-54, female (% of female population)
SP.POP.5054.MA.5Y          Population ages 50-54, male (% of male population)
SP.POP.5559.FE.5Y          Population ages 55-59, female (% of female population)
SP.POP.5559.MA.5Y          Population ages 55-59, male (% of male population)
SP.POP.6064.FE.5Y          Population ages 60-64, female (% of female population)
SP.POP.6064.MA.5Y          Population ages 60-64, male (% of male population)
SP.POP.6569.FE.5Y          Population ages 65-69, female (% of female population)
SP.POP.6569.MA.5Y          Population ages 65-69, male (% of male population)
SP.POP.65UP.FE.IN          Population ages 65 and above, female
SP.POP.65UP.FE.ZS          Population ages 65 and above, female (% of female population)
SP.POP.65UP.MA.IN          Population ages 65 and above, male
SP.POP.65UP.MA.ZS          Population ages 65 and above, male (% of male population)
SP.POP.65UP.TO             Population ages 65 and above, total
SP.POP.65UP.TO.ZS          Population ages 65 and above (% of total population)
SP.POP.7074.FE.5Y          Population ages 70-74, female (% of female population)
SP.POP.7074.MA.5Y          Population ages 70-74, male (% of male population)
SP.POP.7579.FE.5Y          Population ages 75-79, female (% of female population)
SP.POP.7579.MA.5Y          Population ages 75-79, male (% of male population)
SP.POP.80UP.FE.5Y          Population ages 80 and above, female (% of female population)
SP.POP.80UP.MA.5Y          Population ages 80 and above, male (% of male population)
SP.POP.BRTH.MF             Sex ratio at birth (male births per female births)
SP.POP.DPND                Age dependency ratio (% of working-age population)
SP.POP.DPND.OL             Age dependency ratio, old (% of working-age population)
SP.POP.DPND.YG             Age dependency ratio, young (% of working-age population)
SP.POP.GROW                Population growth (annual %)
SP.POP.SCIE.RD.P6          Researchers in R&D (per million people)
SP.POP.TECH.RD.P6          Technicians in R&D (per million people)
SP.POP.TOTL                Population, total
SP.POP.TOTL.FE.IN          Population, female
SP.POP.TOTL.FE.ZS          Population, female (% of total population)
SP.POP.TOTL.MA.IN          Population, male
SP.POP.TOTL.MA.ZS          Population, male (% of total population)
SP.REG.BRTH.FE.ZS          Completeness of birth registration, female (%)
SP.REG.BRTH.MA.ZS          Completeness of birth registration, male (%)
SP.REG.BRTH.RU.ZS          Completeness of birth registration, rural (%)
SP.REG.BRTH.UR.ZS          Completeness of birth registration, urban (%)
SP.REG.BRTH.ZS             Completeness of birth registration (%)
SP.REG.DTHS.ZS             Completeness of death registration with cause-of-death information (%)
SP.RUR.TOTL                Rural population
SP.RUR.TOTL.ZG             Rural population growth (annual %)
SP.RUR.TOTL.ZS             Rural population (% of total population)
SP.URB.GROW                Urban population growth (annual %)
SP.URB.TOTL                Urban population
SP.URB.TOTL.IN.ZS          Urban population (% of total population)
SP.UWT.TFRT                Unmet need for contraception (% of married women ages 15-49)
ST.INT.ARVL                International tourism, number of arrivals
ST.INT.DPRT                International tourism, number of departures
ST.INT.RCPT.CD             International tourism, receipts (current US$)
ST.INT.RCPT.XP.ZS          International tourism, receipts (% of total exports)
ST.INT.TRNR.CD             International tourism, receipts for passenger transport items (current US$)
ST.INT.TRNX.CD             International tourism, expenditures for passenger transport items (current US$)
ST.INT.TVLR.CD             International tourism, receipts for travel items (current US$)
ST.INT.TVLX.CD             International tourism, expenditures for travel items (current US$)
ST.INT.XPND.CD             International tourism, expenditures (current US$)
ST.INT.XPND.MP.ZS          International tourism, expenditures (% of total imports)
TG.VAL.TOTL.GD.ZS          Merchandise trade (% of GDP)
TM.QTY.MRCH.XD.WD          Import volume index (2000 = 100)
TM.TAX.MANF.BC.ZS          Binding coverage, manufactured products (%)
TM.TAX.MANF.BR.ZS          Bound rate, simple mean, manufactured products (%)
TM.TAX.MANF.IP.ZS          Share of tariff lines with international peaks, manufactured products (%)
TM.TAX.MANF.SM.AR.ZS       Tariff rate, applied, simple mean, manufactured products (%)
TM.TAX.MANF.SM.FN.ZS       Tariff rate, most favored nation, simple mean, manufactured products (%)
TM.TAX.MANF.SR.ZS          Share of tariff lines with specific rates, manufactured products (%)
TM.TAX.MANF.WM.AR.ZS       Tariff rate, applied, weighted mean, manufactured products (%)
TM.TAX.MANF.WM.FN.ZS       Tariff rate, most favored nation, weighted mean, manufactured products (%)
TM.TAX.MRCH.BC.ZS          Binding coverage, all products (%)
TM.TAX.MRCH.BR.ZS          Bound rate, simple mean, all products (%)
TM.TAX.MRCH.IP.ZS          Share of tariff lines with international peaks, all products (%)
TM.TAX.MRCH.SM.AR.ZS       Tariff rate, applied, simple mean, all products (%)
TM.TAX.MRCH.SM.FN.ZS       Tariff rate, most favored nation, simple mean, all products (%)
TM.TAX.MRCH.SR.ZS          Share of tariff lines with specific rates, all products (%)
TM.TAX.MRCH.WM.AR.ZS       Tariff rate, applied, weighted mean, all products (%)
TM.TAX.MRCH.WM.FN.ZS       Tariff rate, most favored nation, weighted mean, all products (%)
TM.TAX.TCOM.BC.ZS          Binding coverage, primary products (%)
TM.TAX.TCOM.BR.ZS          Bound rate, simple mean, primary products (%)
TM.TAX.TCOM.IP.ZS          Share of tariff lines with international peaks, primary products (%)
TM.TAX.TCOM.SM.AR.ZS       Tariff rate, applied, simple mean, primary products (%)
TM.TAX.TCOM.SM.FN.ZS       Tariff rate, most favored nation, simple mean, primary products (%)
TM.TAX.TCOM.SR.ZS          Share of tariff lines with specific rates, primary products (%)
TM.TAX.TCOM.WM.AR.ZS       Tariff rate, applied, weighted mean, primary products (%)
TM.TAX.TCOM.WM.FN.ZS       Tariff rate, most favored nation, weighted mean, primary products (%)
TM.UVI.MRCH.XD.WD          Import unit value index (2000 = 100)
TM.VAL.AGRI.ZS.UN          Agricultural raw materials imports (% of merchandise imports)
TM.VAL.FOOD.ZS.UN          Food imports (% of merchandise imports)
TM.VAL.FUEL.ZS.UN          Fuel imports (% of merchandise imports)
TM.VAL.ICTG.ZS.UN          ICT goods imports (% total goods imports)
TM.VAL.INSF.ZS.WT          Insurance and financial services (% of commercial service imports)
TM.VAL.MANF.ZS.UN          Manufactures imports (% of merchandise imports)
TM.VAL.MMTL.ZS.UN          Ores and metals imports (% of merchandise imports)
TM.VAL.MRCH.AL.ZS          Merchandise imports from economies in the Arab World (% of total merchandise imports)
TM.VAL.MRCH.CD.WT          Merchandise imports (current US$)
TM.VAL.MRCH.HI.ZS          Merchandise imports from high-income economies (% of total merchandise imports)
TM.VAL.MRCH.OR.ZS          Merchandise imports from low- and middle-income economies outside region (% of total merchandise imports)
TM.VAL.MRCH.R1.ZS          Merchandise imports from low- and middle-income economies in East Asia & Pacific (% of total merchandise imports)
TM.VAL.MRCH.R2.ZS          Merchandise imports from low- and middle-income economies in Europe & Central Asia (% of total merchandise imports)
TM.VAL.MRCH.R3.ZS          Merchandise imports from low- and middle-income economies in Latin America & the Caribbean (% of total merchandise imports)
TM.VAL.MRCH.R4.ZS          Merchandise imports from low- and middle-income economies in Middle East & North Africa (% of total merchandise imports)
TM.VAL.MRCH.R5.ZS          Merchandise imports from low- and middle-income economies in South Asia (% of total merchandise imports)
TM.VAL.MRCH.R6.ZS          Merchandise imports from low- and middle-income economies in Sub-Saharan Africa (% of total merchandise imports)
TM.VAL.MRCH.RS.ZS          Merchandise imports by the reporting economy, residual (% of total merchandise imports)
TM.VAL.MRCH.WL.CD          Merchandise imports by the reporting economy (current US$)
TM.VAL.MRCH.WR.ZS          Merchandise imports from low- and middle-income economies within region (% of total merchandise imports)
TM.VAL.MRCH.XD.WD          Import value index (2000 = 100)
TM.VAL.OTHR.ZS.WT          Computer, communications and other services (% of commercial service imports)
TM.VAL.SERV.CD.WT          Commercial service imports (current US$)
TM.VAL.TRAN.ZS.WT          Transport services (% of commercial service imports)
TM.VAL.TRVL.ZS.WT          Travel services (% of commercial service imports)
TT.PRI.MRCH.XD.WD          Net barter terms of trade index (2000 = 100)
TX.MNF.TECH.ZS.UN          Medium and high-tech exports (% manufactured exports)
TX.QTY.MRCH.XD.WD          Export volume index (2000 = 100)
TX.UVI.MRCH.XD.WD          Export unit value index (2000 = 100)
TX.VAL.AGRI.ZS.UN          Agricultural raw materials exports (% of merchandise exports)
TX.VAL.FOOD.ZS.UN          Food exports (% of merchandise exports)
TX.VAL.FUEL.ZS.UN          Fuel exports (% of merchandise exports)
TX.VAL.ICTG.ZS.UN          ICT goods exports (% of total goods exports)
TX.VAL.INSF.ZS.WT          Insurance and financial services (% of commercial service exports)
TX.VAL.MANF.ZS.UN          Manufactures exports (% of merchandise exports)
TX.VAL.MMTL.ZS.UN          Ores and metals exports (% of merchandise exports)
TX.VAL.MRCH.AL.ZS          Merchandise exports to economies in the Arab World (% of total merchandise exports)
TX.VAL.MRCH.CD.WT          Merchandise exports (current US$)
TX.VAL.MRCH.HI.ZS          Merchandise exports to high-income economies (% of total merchandise exports)
TX.VAL.MRCH.OR.ZS          Merchandise exports to low- and middle-income economies outside region (% of total merchandise exports)
TX.VAL.MRCH.R1.ZS          Merchandise exports to low- and middle-income economies in East Asia & Pacific (% of total merchandise exports)
TX.VAL.MRCH.R2.ZS          Merchandise exports to low- and middle-income economies in Europe & Central Asia (% of total merchandise exports)
TX.VAL.MRCH.R3.ZS          Merchandise exports to low- and middle-income economies in Latin America & the Caribbean (% of total merchandise exports)
TX.VAL.MRCH.R4.ZS          Merchandise exports to low- and middle-income economies in Middle East & North Africa (% of total merchandise exports)
TX.VAL.MRCH.R5.ZS          Merchandise exports to low- and middle-income economies in South Asia (% of total merchandise exports)
TX.VAL.MRCH.R6.ZS          Merchandise exports to low- and middle-income economies in Sub-Saharan Africa (% of total merchandise exports)
TX.VAL.MRCH.RS.ZS          Merchandise exports by the reporting economy, residual (% of total merchandise exports)
TX.VAL.MRCH.WL.CD          Merchandise exports by the reporting economy (current US$)
TX.VAL.MRCH.WR.ZS          Merchandise exports to low- and middle-income economies within region (% of total merchandise exports)
TX.VAL.MRCH.XD.WD          Export value index (2000 = 100)
TX.VAL.OTHR.ZS.WT          Computer, communications and other services (% of commercial service exports)
TX.VAL.SERV.CD.WT          Commercial service exports (current US$)
TX.VAL.TECH.CD             High-technology exports (current US$)
TX.VAL.TECH.MF.ZS          High-technology exports (% of manufactured exports)
TX.VAL.TRAN.ZS.WT          Transport services (% of commercial service exports)
TX.VAL.TRVL.ZS.WT          Travel services (% of commercial service exports)
VC.BTL.DETH                Battle-related deaths (number of people)
VC.IDP.NWCV                Internally displaced persons, new displacement associated with conflict and violence (number of cases)
VC.IDP.NWDS                Internally displaced persons, new displacement associated with disasters (number of cases)
VC.IDP.TOCV                Internally displaced persons, total displaced by conflict and violence (number of people)
VC.IHR.PSRC.FE.P5          Intentional homicides, female (per 100,000 female)
VC.IHR.PSRC.MA.P5          Intentional homicides, male (per 100,000 male)
VC.IHR.PSRC.P5             Intentional homicides (per 100,000 people)