In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import wbdata

In [2]:
def c_names_as_index(df, cn):
    df.index = df.loc[:, cn].apply(lambda x: x.lower())
    df.drop([cn], axis=1, inplace=True)
    return df

In [81]:
rep_map = {
    '2(5)': np.nan,
    'nan': np.nan,
    '3(6)': np.nan
}

In [9]:
freedom_house13_21 = c_names_as_index(pd.read_csv('./raw_data/All_data_FIW_2013-2021.csv', sep=';', skiprows=1), 'Country/Territory')

In [39]:
freedom_house13_21.head()

,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,A,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
Country/Territory,,,,,,,,,,,,,,,,,,,,,
abkhazia,Eurasia,t,2021,PF,5,5,2,2,1,5,...,1,1,4,1,1,2,1,5,23,40
afghanistan,Asia,c,2021,NF,5,6,1,1,1,3,...,0,1,2,0,1,0,1,2,14,27
albania,Europe,c,2021,PF,3,3,3,3,2,8,...,2,3,9,3,2,2,2,9,39,66
algeria,MENA,c,2021,NF,6,5,1,1,1,3,...,2,2,6,2,2,2,1,7,22,32
andorra,Europe,c,2021,F,1,1,4,4,4,12,...,4,3,15,4,4,3,4,15,55,93

In [27]:
freedom_house73_21_ctr = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021.csv', sep=';')

In [28]:
freedom_house73_21_ctr.iloc[0,0] = np.nan
freedom_house73_21_ctr.iloc[0].replace(np.nan, None, inplace=True)
freedom_house73_21_ctr.columns = pd.MultiIndex.from_tuples(list(zip(freedom_house73_21_ctr.iloc[0], freedom_house73_21_ctr.iloc[1])))
freedom_house73_21_ctr.drop([0,1], inplace=True)
freedom_house73_21_ctr = freedom_house73_21_ctr[freedom_house73_21_ctr.iloc[:, 0].notna()]
freedom_house73_21_ctr.index = freedom_house73_21_ctr.loc[:, freedom_house73_21_ctr.columns[0]].apply(lambda x: x.lower())
freedom_house73_21_ctr.drop(freedom_house73_21_ctr.columns[0], axis=1, inplace=True)
freedom_house73_21_ctr = freedom_house73_21_ctr.replace('-', np.nan)

In [29]:
y_list = [int(i.split('.')[-1].strip()) for i in freedom_house73_21_ctr.columns.get_level_values(0).unique()]
_df = pd.DataFrame(columns=[i.strip() for i in list(freedom_house73_21_ctr.columns.get_level_values(1)[:3])], index=pd.MultiIndex.from_tuples(list(zip(np.repeat(freedom_house73_21_ctr.index, len(y_list)), y_list * len(y_list)))))
for i in freedom_house73_21_ctr.index:
    for j in freedom_house73_21_ctr.columns.get_level_values(0).unique():
        _df.loc[(i, int(j.split('.')[-1].strip())), :] = [*list(freedom_house73_21_ctr.loc[i, j])]
freedom_house73_21_ctr = _df
freedom_house73_21_ctr.index.names = ['country', 'year']

KeyboardInterrupt:

In [122]:
#freedom_house73_21_ctr.iloc[:, :-1] = freedom_house73_21_ctr.iloc[:, :-1].replace(rep_map)
#freedom_house73_21_ctr.iloc[:, :-1] = freedom_house73_21_ctr.iloc[:, :-1].apply(pd.to_numeric, errors='coerce')

In [121]:
freedom_house73_21_ctr.head()

                 PR CL Status
country     year
afghanistan 1972  4  5     PF
            1973  7  6     NF
            1974  7  6     NF
            1975  7  6     NF
            1976  7  6     NF

In [127]:
freedom_house73_21_ctr.iloc[:, :-1].apply(pd.to_numeric, errors='coerce')

                   PR   CL
country     year
afghanistan 1972  4.0  5.0
            1973  7.0  6.0
            1974  7.0  6.0
            1975  7.0  6.0
            1976  7.0  6.0
...               ...  ...
zimbabwe    2016  5.0  5.0
            2017  6.0  5.0
            2018  5.0  5.0
            2019  5.0  5.0
            2020  6.0  5.0

[9840 rows x 2 columns]

In [116]:
freedom_house73_21_hd = pd.read_csv('./raw_data/Country_and_Territory_Ratings_and_Statuses_FIW1973-2021_hd.csv', sep=';')

In [45]:
freedom_house73_21_hd.head()

,FIW Survey Edition*,Year(s) Under Review**,Total Countries,Number of F Countries,% of F Countries,Number of PF Countries,% of PF Countries,Number of NF Countries,% of NF Countries,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,2021,2020,195.0,82.0,"42,05 %",59.0,"30,26 %",54.0,"27,69 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,2019,195.0,83.0,"42,56 %",63.0,"32,31 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,2018,195.0,86.0,"44,10 %",59.0,"30,26 %",50.0,"25,64 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018,2017,195.0,88.0,"45,13 %",58.0,"29,74 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2017,2016,195.0,87.0,"44,62 %",59.0,"30,26 %",49.0,"25,13 %",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [6]:
continent = c_names_as_index(pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_a.csv', sep=';', skiprows=1), 'Abkhazia')
continent = continent.drop(continent.columns[1:], axis=1)
continent.loc[:, 'continent cat'] = continent.Eurasia.astype('category').cat.codes
continent.index = continent.index.rename('country')

In [7]:
continent

               Eurasia  continent cat
country
afghanistan       Asia              1
albania         Europe              3
algeria           MENA              4
andorra         Europe              3
angola             SSA              5
...                ...            ...
vietnam           Asia              1
western sahara    MENA              4
yemen             MENA              4
zambia             SSA              5
zimbabwe           SSA              5

[3338 rows x 2 columns]

In [48]:
freedom_house_aggregate06_21 = c_names_as_index(pd.read_csv('./raw_data/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021_b.csv', sep=';', skiprows=1), 'Abkhazia')

In [49]:
freedom_house_aggregate06_21.head()

             t   9 9.1 9.2  20  21 21.1  29  30 30.1
Abkhazia
afghanistan  c   8   9  13  15  14   14  23  23   27
albania      c  26  26  26  42  42   40  68  68   66
algeria      c  11  11  10  22  22   25  33  33   35
andorra      c  39  39  39  57  58   58  96  97   97
angola       c   8   7   8  22  22   22  30  29   30

In [130]:
x = c_names_as_index(pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2.csv', sep=';'), 'country')

In [ ]:
bjorskov_integrated = c_names_as_index(pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2.csv', sep=';'), 'country')
bjorskov_integrated.index = pd.MultiIndex.from_tuples(list(zip(
    bjorskov_integrated.index,
    bjorskov_integrated.year.astype('int')
)))
bjorskov_integrated.drop(['country isocode', 'year'] + [i for i in bjorskov_integrated if 'Unnamed' in i], axis=1, inplace=True)
bjorskov_integrated.index.names = ['country', 'year']

In [7]:
bjorskov_integrated.head()

                  DD regime         DD category  Monarchy  Commonwealth  \
country     year
afghanistan 1950        5.0  Royal dictatorship       1.0           0.0
            1951        5.0  Royal dictatorship       1.0           0.0
            1952        5.0  Royal dictatorship       1.0           0.0
            1953        5.0  Royal dictatorship       1.0           0.0
            1954        5.0  Royal dictatorship       1.0           0.0

                         Monarch name  Monarch accession  Monarch birthyear  \
country     year
afghanistan 1950  Mohammed Zahir Shah             1933.0             1914.0
            1951  Mohammed Zahir Shah             1933.0             1914.0
            1952  Mohammed Zahir Shah             1933.0             1914.0
            1953  Mohammed Zahir Shah             1933.0             1914.0
            1954  Mohammed Zahir Shah             1933.0             1914.0

                  Female monarch (0: No; 1: Yes)  Democracy  Presidential  \
country     year
afghanistan 1950                             0.0        0.0           0.0
            1951                             0.0        0.0           0.0
            1952                             0.0        0.0           0.0
            1953                             0.0        0.0           0.0
            1954                             0.0        0.0           0.0

                  ... fullsuffrage  Suffrage restriction  electoral  \
country     year  ...
afghanistan 1950  ...          0.0        Male vote only        2.0
            1951  ...          0.0        Male vote only        2.0
            1952  ...          0.0        Male vote only        2.0
            1953  ...          0.0        Male vote only        2.0
            1954  ...          0.0        Male vote only        2.0

                  spatial electoral  alternation  multiparty  \
country     year
afghanistan 1950                1,5          0.0         1.0
            1951                1,5          0.0         1.0
            1952               1,75          0.0         1.0
            1953               1,75          0.0         1.0
            1954               1,75          0.0         1.0

                 free and fair election parliamentary election year  \
country     year
afghanistan 1950                    0.0                         0.0
            1951                    0.0                         0.0
            1952                    0.0                         1.0
            1953                    0.0                         0.0
            1954                    0.0                         0.0

                  election month, year  postponed election
country     year
afghanistan 1950                   NaN                 0.0
            1951                   NaN                 0.0
            1952         February 1952                 0.0
            1953                   NaN                 0.0
            1954                   NaN                 0.0

[5 rows x 39 columns]

In [52]:
bjorskov_integrated_coups = c_names_as_index(pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2_coups.csv', sep=';'), 'country')

In [53]:
bjorskov_integrated_coups.head()

,country isocode,year,DD regime,DD category,Unnamed: 5,Failed coups,Successful coups,All coups,First coup,year.1,...,month.2,Type.2,Third coup success,Category type third coup,Coup leaders.2,Age of leaders.1,Military Rank (Nato code).2,Militaryrankindex.2,Civilrankindex.2,spatial total coups
country,,,,,,,,,,,,,,,,,,,,,
afghanistan,AFG,1950,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1951,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"
afghanistan,AFG,1952,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1953,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0
afghanistan,AFG,1954,5.0,Royal dictatorship,NaN,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"0,25"

In [54]:
bjorskov_integrated_colonial_institutions = c_names_as_index(pd.read_csv('./raw_data/BjÃ¸rnskov-Rode-integrated-dataset-v3.2_colonial_institutions.csv', sep=';'), 'country')

In [55]:
bjorskov_integrated_colonial_institutions.head()

,country isocode,year,DD regime,DD category,Democracy,Presidential,countrycode,No. of chambers in parliament,proportional voting,Election system,...,No. of members in upper house,No. of members in third house,New constitution,fullsuffrage,Suffrage restriction,electoral,Details,Unnamed: 19,Unnamed: 20,Self-governing
country,,,,,,,,,,,,,,,,,,,,,
afghanistan,AFG,1950,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1951,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1952,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1953,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN
afghanistan,AFG,1954,5.0,Royal dictatorship,0.0,0.0,1.0,2.0,NaN,NaN,...,NaN,NaN,0.0,0.0,Male vote only,2.0,NaN,NaN,NaN,NaN

In [21]:
OECD_union = c_names_as_index(pd.read_csv('./raw_data/TUD_21032021172006040.csv', sep=','), 'Country')
OECD_union.drop(OECD_union.columns[:4], inplace=True, axis=1)
OECD_union.drop(OECD_union.columns[1], inplace=True, axis=1)
OECD_union.drop(OECD_union.columns[2:8], inplace=True, axis=1)
OECD_union.drop(OECD_union.columns[3:], inplace=True, axis=1)
OECD_union['id'] = OECD_union.index
OECD_union.drop_duplicates(['Series', 'Year', 'id'], inplace=True)
OECD_union.drop(['id'], axis=1, inplace=True)

In [22]:
_df = pd.DataFrame(columns=OECD_union.Series.unique(), index=pd.MultiIndex.from_tuples(list(zip(
    np.repeat(OECD_union.index.unique(), len(OECD_union.Year.unique())), 
    sorted(OECD_union.Year.unique().astype('int')) * len(OECD_union.Year.unique())
))))

for i in _df.index:
    for j in _df.columns:
        val = OECD_union.loc[i[0]][(OECD_union.loc[i[0]].Year == i[1]) & (OECD_union.loc[i[0]].Series.str.match(j))].Value
        _df.loc[i, j] = int(val) if not val.empty else np.nan
OECD_union = _df
OECD_union.index.names = ['country', 'year']

In [58]:
OECD_union.head()

             Employees Union members Trade union  density
country year
hungary 1998      3088           840                   27
        1999       NaN           NaN                  NaN
        2000      3256           775                   23
        2001      3314           654                   19
        2002       NaN           NaN                  NaN

In [ ]:
WB_civil_soc_participation = c_names_as_index(pd.read_csv('./raw_data/worldbank_civil_society_participation.csv', sep=','), 'Country Name')

In [ ]:
WB_civil_soc_participation.index = pd.MultiIndex.from_tuples(list(zip(
    WB_civil_soc_participation.index, 
    WB_civil_soc_participation.loc[:, 'Indicator'])))
WB_civil_soc_participation.drop(['Country ISO3', 'Indicator Id', 'Indicator', 'Subindicator Type'], axis=1, inplace=True)
WB_civil_soc_participation.index.names = ['country', 'year']

In [ ]:
_df = pd.DataFrame(columns=WB_civil_soc_participation.index.get_level_values(1).unique(), \
    index=pd.MultiIndex.from_tuples(\
        list(zip(np.repeat(WB_civil_soc_participation.index.get_level_values(0).unique(), 
        len(WB_civil_soc_participation.columns)),\
            len(WB_civil_soc_participation.index.get_level_values(0).unique()) * list(WB_civil_soc_participation.columns.astype('int'))))))
for i in _df.index:
    for j in _df.columns:
        try:
            _df.loc[i, j] = WB_civil_soc_participation.loc[(i[0], j), str(i[1])]
        except:
            _df.loc[i, j] = np.nan
WB_civil_soc_participation = _df
WB_civil_soc_participation.index.names = ['country', 'year']

In [24]:
WB_civil_soc_participation

year             Anticorruption policy Civil rights  \
country     year
afghanistan 2006                   1.0          2.0
            2008                   1.0          3.0
            2010                   1.0          2.0
            2012                   1.0          2.0
            2014                   1.0          2.0
...                                ...          ...
zimbabwe    2010                   1.0          2.0
            2012                   1.0          2.0
            2014                   3.0          3.0
            2016                   2.0          4.0
            2018                   2.0          3.0

year             Civil society participation Civil society traditions  \
country     year
afghanistan 2006                         4.0                     10.0
            2008                         4.0                     10.0
            2010                         3.0                     10.0
            2012                         3.0                     10.0
            2014                         3.0                     10.0
...                                      ...                      ...
zimbabwe    2010                         1.0                      7.0
            2012                         2.0                      7.0
            2014                         3.0                      6.0
            2016                         4.0                      6.0
            2018                         2.0                      6.0

year             Cleavage conflict management  \
country     year
afghanistan 2006                          4.0
            2008                          4.0
            2010                          4.0
            2012                          4.0
            2014                          4.0
...                                       ...
zimbabwe    2010                          1.0
            2012                          2.0
            2014                          2.0
            2016                          3.0
            2018                          3.0

year             Commitment to democratic institutions Conflict intensity  \
country     year
afghanistan 2006                                   3.0                9.0
            2008                                   3.0                9.0
            2010                                   3.0               10.0
            2012                                   3.0               10.0
            2014                                   3.0                9.0
...                                                ...                ...
zimbabwe    2010                                   2.0                6.0
            2012                                   3.0                7.0
            2014                                   3.0                7.0
            2016                                   3.0                5.0
            2018                                   2.0                6.0

year             Consensus on goals Antidemocratic actors  \
country     year
afghanistan 2006                3.0                   5.0
            2008                3.0                   4.0
            2010                3.0                   4.0
            2012                3.0                   3.0
            2014                3.0                   4.0
...                             ...                   ...
zimbabwe    2010                3.0                   3.0
            2012                4.0                   3.0
            2014                4.0                   4.0
            2016                3.0                   2.0
            2018                3.0                   2.0

year             Education policy R&D  ... Social capital Social safety nets  \
country     year                       ...
afghanistan 2006                  1.0  ...            4.0                1.0
            2008                  1.0  ...            4.0                1.0
            2010                  1.0  ...            2.0                1.0
            2012                  1.0  ...            2.0                1.0
            2014                  2.0  ...            2.0                1.0
...                               ...  ...            ...                ...
zimbabwe    2010                  3.0  ...            5.0                2.0
            2012                  4.0  ...            5.0                2.0
            2014                  4.0  ...            4.0                3.0
            2016                  4.0  ...            4.0                3.0
            2018                  4.0  ...            4.0                3.0

year             Socioeconomic barriers Stability of Democratic Institutions  \
country     year
afghanistan 2006                    1.0                                  3.0
            2008                    1.0                                  3.0
            2010                    1.0                                  3.0
            2012                    1.0                                  3.0
            2014                    1.0                                  3.0
...                                 ...                                  ...
zimbabwe    2010                    2.0                                  2.0
            2012                    3.0                                  3.0
            2014                    3.0                                  3.0
            2016                    3.0                                  3.0
            2018                    2.0                                  2.5

year             State identity Basic administration Steering Capability  \
country     year
afghanistan 2006            6.0                  2.0            4.333333
            2008            6.0                  2.0            4.333333
            2010            6.0                  1.0                 3.0
            2012            6.0                  2.0                 3.0
            2014            6.0                  2.0                 3.0
...                         ...                  ...                 ...
zimbabwe    2010            9.0                  4.0            1.333333
            2012            9.0                  5.0            2.333333
            2014            7.0                  5.0            3.333333
            2016            7.0                  5.0            2.666667
            2018            7.0                  4.0            2.333333

year             Structural constraints Welfare Regime Approval of democracy
country     year
afghanistan 2006                   10.0            1.0                   NaN
            2008                   10.0            1.5                   NaN
            2010                   10.0            1.5                   NaN
            2012                   10.0            1.5                   NaN
            2014                   10.0            1.5                   NaN
...                                 ...            ...                   ...
zimbabwe    2010                    7.0            2.5                   NaN
            2012                    7.0            2.5                   NaN
            2014                    7.0            3.0                   NaN
            2016                    7.0            3.0                   NaN
            2018                    7.0            3.0                   NaN

[896 rows x 45 columns]

In [16]:
gdp = c_names_as_index(pd.read_csv('./raw_data/gdp-per-capita-worldbank.csv', sep=','), 'Entity')
gdp = gdp.rename(columns={gdp.columns[-1]: 'gdp'})
gdp.index = pd.MultiIndex.from_tuples(list(zip(gdp.index, gdp.Year)))
gdp.index = gdp.index.set_names(['country', 'year'])
gdp.drop(['Code', 'Year'], axis=1 ,inplace=True)

In [7]:
gdp.index.get_level_values(1).unique()

Int64Index([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
            2013, 2014, 2015, 2016, 2017, 1990, 1991, 1992, 1993, 1994, 1995,
            1996, 1997, 1998, 1999, 2000, 2001],
           dtype='int64', name='year')

In [66]:
gdp.head()

                          gdp
country     year
afghanistan 2002  1063.635574
            2003  1099.194507
            2004  1062.249360
            2005  1136.123214
            2006  1161.124889

In [3]:
def wb_clear(df, x):
    df.index = df.index.set_levels(df.index.levels[1].astype(int), level=1)
    df.index = df.index.set_levels(df.index.levels[0].str.lower(), level=0)
    df = df[df.index.get_level_values(1) >= 2006]
    df = df[df.loc[:, x].notna()]
    df.index = df.index.set_names('year', level=1)
    return df

In [ ]:
#https://data.worldbank.org/indicator/NY.GDP.PCAP.CD

gdp_pc = wbdata.get_dataframe({'NY.GDP.PCAP.CD':'gdp'})
gdp_pc = wb_clear(gdp_pc, 'gdp')

In [ ]:
gov_spending = wbdata.get_dataframe({'GC.XPN.TOTL.GD.ZS':'gs'})
gov_spending = wb_clear(gov_spending, 'gs')

In [ ]:
#GC.TAX.TOTL.GD.ZS
taxes = wbdata.get_dataframe({'GC.TAX.TOTL.GD.ZS':'t'})
taxes = wb_clear(taxes, 't')

CC.EST - corruption estimate

GE.EST   - government effectiveness

PV.EST - political stability & absence of violence/terrorism 

RL.EST - Rule of Law estimate

RQ.EST -  Regulatory Quality estimate

VA.EST - Voice and Accountability estimate

In [ ]:
corruption = wbdata.get_dataframe({'CC.EST':'corruption'})
corruption = wb_clear(corruption, 'corruption')

In [ ]:
gov_effectivenes = wbdata.get_dataframe({'GE.EST':'efficiency'})
gov_effectivenes = wb_clear(gov_effectivenes, 'efficiency')

In [ ]:
rol = wbdata.get_dataframe({'RL.EST':'rol'})
rol = wb_clear(rol, 'rol')

In [ ]:
mortality = wbdata.get_dataframe({'SP.DYN.IMRT.IN':'mortality'})
mortality = wb_clear(mortality, 'mortality')

In [80]:
#req_quality = wbdata.get_dataframe({'RQ.EST':'r'})
#req_quality = wb_clear(req_quality, 'req_q')

In [ ]:
accountability = wbdata.get_dataframe({'VA.EST':'acc'})
accountability = wb_clear(accountability, 'acc')

In [ ]:
trade = wbdata.get_dataframe({'NE.TRD.GNFS.ZS':'trade'})
trade = wb_clear(trade, 'trade')

In [107]:
#investment = wbdata.get_dataframe({'GC.NFN.TOTL.CN':'investment'})
#investment = wb_clear(investment, 'investment')

In [9]:
#FM.AST.NFRG.CN net foreign assets
#gdp current NY.GDP.MKTP.CD
gdp = wbdata.get_dataframe({'NY.GDP.MKTP.CD':'gdp'})
foreign_assets = wbdata.get_dataframe({'FM.AST.NFRG.CN':'foreign_assets'})

In [11]:
#SE.PRM.UNER.ZS childred out of school
out_of_school = wbdata.get_dataframe({'SE.PRM.UNER.ZS': 'outofschool'})
out_of_school = wb_clear(out_of_school, 'outofschool')

In [ ]:
# freedom_house73_21_ctr
# bjorskov_integrated
# OECD_union
# WB_civil_soc_participation
dfs = [freedom_house73_21_ctr, bjorskov_integrated, WB_civil_soc_participation, gov_spending, taxes, corruption, gov_effectivenes, stab, rol, accountability, mortality, trade, gdp_pc]

In [8]:
all_df = pd.read_csv('raw_data/master.csv').set_index(['country', 'year'])

/Users/santerivaataja/Desktop/Taloustieteen_kursseja/Econometrics/Capstone.nosync/cap_venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
all_df.head()

                 PR CL Status  DD regime            DD category  Monarchy  \
country     year
afghanistan 1972  4  5     PF        5.0     Royal dictatorship       1.0
            1973  7  6     NF        5.0     Royal dictatorship       1.0
            1974  7  6     NF        3.0  Civilian dictatorship       0.0
            1975  7  6     NF        3.0  Civilian dictatorship       0.0
            1976  7  6     NF        3.0  Civilian dictatorship       0.0

                  Commonwealth         Monarch name  Monarch accession  \
country     year
afghanistan 1972           0.0  Mohammed Zahir Shah             1933.0
            1973           0.0  Mohammed Zahir Shah             1933.0
            1974           0.0                  NaN                NaN
            1975           0.0                  NaN                NaN
            1976           0.0                  NaN                NaN

                  Monarch birthyear  ...  gs   t  corruption efficiency  \
country     year                     ...
afghanistan 1972             1914.0  ... NaN NaN         NaN        NaN
            1973             1914.0  ... NaN NaN         NaN        NaN
            1974                NaN  ... NaN NaN         NaN        NaN
            1975                NaN  ... NaN NaN         NaN        NaN
            1976                NaN  ... NaN NaN         NaN        NaN

                  stability  rol  acc  mortality  trade gdp
country     year
afghanistan 1972        NaN  NaN  NaN        NaN    NaN NaN
            1973        NaN  NaN  NaN        NaN    NaN NaN
            1974        NaN  NaN  NaN        NaN    NaN NaN
            1975        NaN  NaN  NaN        NaN    NaN NaN
            1976        NaN  NaN  NaN        NaN    NaN NaN

[5 rows x 97 columns]

In [ ]:
all_df = all_df.join(out_of_scho)

In [126]:
all_df = reduce(lambda l, r: l.join(r), dfs)

In [128]:
all_df.to_csv('raw_data/master.csv')